*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
/*Navigation bar */
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747,#012733);  
    top: 0; 
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    cursor: pointer;;
}
nav ul {
    float: right;
}
nav li{
    display: inline-block ;
    list-style: none;
}
nav li a{
    font-size: 14px;
    color: white;
    padding: 0px 0px;
    text-decoration: none;
}
nav li a:hover{
    color: aquamarine;
}
/*background*/
.background {
    height: 100vh;
}
.background img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: orange ;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    font-size: 25px;
}
/*footer*/
.row{
    display: flex;
    flex: wrap;
    padding: 20px 0;
}
ul {
    list-style: none;
}
.footer{
    background-color: #033747;
    padding: 20px 0;
}
.column{
    width: 25%;
    padding: 0 15px
}
.column h4{
    font-size: 18px;
    color: white;
}
.column ul li a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: block;
}
.column ul li a:hover{
    color: aquamarine;
}
.column .social-link a{
    color: white;
}
.column .social-link a:hover{
    color: aquamarine;
}
/*main*/
main {
    margin-top: 40px; 
    flex: 1;
}
main p{
    padding-left: 3cm;
    padding-right: 3cm;
    margin-bottom: 1em;
}
main h1{
    margin-top: 5%;
    color: orange;
    padding-left: 3cm;
    margin-bottom: 1em;
}
main ul{
    padding-left: 4cm;
    padding-right: 5cm;
    margin-bottom: 1em;
    list-style-type: disc;
}
main ul li{
    margin-bottom: 1em;
}
/*wavy text*/
.wavy-text {
    display: inline-block;
    animation-name: wavyAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes wavyAnimation {
    0% { transform: translateY(0);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0);}
}
/*underline-text*/
@keyframes wavy {
    0% { text-decoration: none; }
    50% { text-decoration: underline; }
    100% { text-decoration: none; }
}

.underline-text {
    animation-name: wavy;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}





